*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.hero{
    width: 1520.8px;
    height: 776px;
    background-image: url(img/cover.jpg);
    background-size: cover;
}


.container_text{
    width: 100%;
    height: 416.3px;
    padding: 0px 15px;
    margin-top: 30px;
}

.container_color{
    width: 100%;
    height: 100%;
    padding: 150px 0px;
    background-color: rgba(0, 0, 0, 0.65);
}


.hero_heading{
    width: 100%;
    height: 126px;
}

.hero_img{
    width: 165px;
    height: 100%;
    margin: auto;
}

.hero_img img{
    transition: 0.3s;
}

.hero_img img:hover{
    opacity: 0.85;
}

.hero_para{
    height: 290.3px;
    width: 100%;
    text-align: center;
}

.hero h1{
    width: 100%;
    height: 74.4px;
    font-size: 62px;
    margin-bottom: 8px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}

.hero p{
    width: 100%;
    height: 40.3px;
    margin: 45px 0px 75px;
    font-size: 26px;
    text-align: center;
    color: #ffffff;
}

.hero_para a{
    width: 210.23px;
    height: 55.6px;
    padding: 15px 45px;
    font-family: "Roboto", Helvetica, Arial, sans-serif; 
    background-color: #199EB8;
    font-weight: 800;
    font-size: 16px;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;

}

.hero_para a:hover{
    background-color: #e04f00;
}

.header{
    width: 1520.8px;
    height: 70px;
    padding: 0.1px;
    background-color: #199eb8;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_logo{
    width: 127.84px;
    height: 40px;
    margin-top: 14px;
    margin-right: 25px;
    float: left;
}

.navbar_logos i:hover{
    opacity: 0.75;
}

.navbar{
    float: left;
}

.navbar a{
    text-decoration: none;
    padding: 22px 15px 18px 15px;
    display: inline-block;
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300px;
    font-size: 15px;
    outline: none;
}


.navbar li{
    list-style: none;
    float: left;
    line-height: 30px;
    color: #fff;
}

.navbar_logos{
    width: 153.75px;
    height: 36px;
    margin-top: 15px;
    float: right;
}

.navbar_logos a{
    width: 22.29px;
    height: 32px;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    transition: 0.3s;

}

.envelope i{
    width: 20px;
    height: 24px;
}

.about{
    height: 1520.8px;
    height: 545.6px;
    padding: 85px 0px;
    color: #212529;
}

.about .container{
    text-align: center !important;
}

.about h2{
    /* width: 1110px;
    height: 36px; */
    margin-bottom: 65px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.about p{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.55;
    color: #333;
    font-weight: 400;
}

.about_row{
    margin-top: 65px;
    margin-left: -15px;
    margin-right: -15px;
}

.col-1{
    text-align: center !important;
}

.circle{
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: auto;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 55px 25px 0 25px;
    position: relative;
}

.sideangle{
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -25;
    right: -15;
    font-size: 18px;
    background-color: #E04F00;
    border-radius: 50%;
    font-weight: 700;
    position: absolute;
}

.theme{
    width: 1520.8px;
    height: 490px;
    padding: 85px 0px 0px;
    background-image: url(img/parallax-bg.jpg);
    overflow: hidden;
    text-align: center !important;
    background-color: #007bff !important;
    /* background-attachment: fixed; */
}

.theme h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
}

.theme p{
    color: #fff;
    margin-bottom: 45px;
    font-size: 16px;
}

.theme img{
    vertical-align: middle;
}

.features{
    width: 1520.8px;
    height: 683.4px;
    padding-top: 85px;
    padding-bottom: 45px;
    text-align: center !important;
}

.features h2{
    padding-bottom: 65px;
    font-size: 30px;
    color: #199eb8;
    font-weight: normal;
}

.features .col-4{
    padding-bottom: 45px;
}

.feature-icon{
    width: 70px;
    height: 70px;
    margin: auto;
    margin-bottom: 15px;
    background: #199EB8;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lower{
    padding-left: 20px;
}

.lower h3{
    color: #199EB8;
    font-size: 24px;
}

.lower p{
    color: #999;
    font-size: 14px;
    line-height: 1.55;
    margin-top: 10px;
}

.cta{
    padding: 25px 0px;
    background-color: #199eb8;
}

.cta h2{
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
}

.cta p{
    color: #fff;
    opacity: 0.75;
}

.cta a{
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 15px 45px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    position:relative;
    top: 13px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;
}

.cta a:hover{
    background-color: #fff;
    color: #199EB8;
}

.temp{
    text-align: right;
}

.portfolio{
    background-color: #edf6ff;
    padding-top: 85px;
}

.portfolio h2{
    color: #199EB8;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
}

.portfolio p{
    color: #333;
    font-weight: 400;
    opacity: 0.8;
    text-align: center;
}

.portfolio-grid{
    margin-top: 65px;
}

.portfolio-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.7s;
}

.portfolio-hover div{
    margin-top: 40px;
}

.portfolio-hover h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.portfolio-hover p{
    color: #fff;
    opacity: 0.75;
    padding: 0 45px;
    line-height: 1.55;
}

.portfolio-hover:hover{
    opacity: 1;
}

.team2 a{
    position: relative;
}

.temp2{
    position: relative;
    overflow: hidden;
    padding: 0 !important;
}

.team{
    padding: 85px 0px;
}

.team h2{
    color: #199EB8;
    text-align: center !important;
    margin-bottom: 65px;
    font-size: 30px;
    font-weight: 500;
}

.team a{
    display: block;
    text-decoration: none;
}

.team-grid{
    transition: 0.7s;
}

.team-grid{
    position: relative;
}

.team-hover{
    width: 100%;
    height: 72%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 45px;
    opacity: 0;
    transition: 0.7s;
}

.team-hover:hover{
    opacity: 1;
}

.team-hover:hover .team-title{
    background-color: #199EB8;
    color: #fff;
}

.team-hover h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 8px;
}


.nav{
    margin-top: 20px;
    margin-bottom: 75px;
    font-size: 16px;
}

.nav a{
    color: #fff;
    margin: 0 4px;
    transition: 0.5s;
}

.nav a:hover{
    opacity: 0.5;
}

.nav a{
    margin-left: 33%;
}

.nav i{
    float: left;
    margin-right: 15px;
}

.team-hover p{
    font-size: 11px;
    color: #fff;
    margin: 0 35px;
    opacity: 0.75;
}


.team-title{
    padding: 15px 25px;
    position: relative;
}

.team-title-hover{
    width: 100%;
    position: absolute;
    background-color: #199EB8;
    top: 72%;
    left: 0;
    color: #fff !important;
    opacity: 0;
    transition: 0.3s;
}

.team-grid:hover .team-title-hover{
    opacity: 1;
}

.team-title-hover .t-title, .team-title-hover .t-text{
    color: fff;
}

.t-title{
    font-size: 24px;
    color: #333;
    font-weight: normal;
    font-weight: 400;
}

.t-text{
    font-size: 18px;
    color: #999;
    line-height: 2;
}

.team .col-3{
    padding: 0 !important;
}

.team .col-3 img{
    width: 100%;
}

.contact{
    padding: 80px 8px;
    background-color: #f7f7f7;
}

.contact h2{
    margin-bottom: 65px;
    text-align: center;
    color: #199EB8;
    font-size: 30px;
    font-weight: 500;
}


.info i{
    color: #199EB8;
    font-size: 32px;
    float: left;
}

/* .fa{

} */

.info p{
    padding-bottom: 10px;
    padding-left: 55px;
    line-height: 24px;
    color: #333;
}

.contact .col-3{
    margin-left: 190px;
}

.contact-text{
    width: 445px;
    height: 37.6px;
    margin-bottom: 1rem ;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.form textarea{
    height: 133.6px;
}

.form button{
    background: #199EB8;
    padding: 10px 24px;
    color: #fff;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    transition: 0.5s;
}

.form button:hover{
    filter: brightness(115%);
}

.form{
    text-align: center;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
}

.left-up{
    opacity: .75;
    line-height: 2.0925;
    color: #fff;
}


.left-down{
    color: #ddd;
    text-align: left !important;
}

.left-down a{
    color: #199eb8;
    text-decoration: none;
}

.right ul{
    float: right;
    margin-top: 20px;
}

.right li{
    color: #fff;
    float: left;
    list-style: none;
    margin-right: 25px;
    vertical-align: middle;
    transition: 0.5s;
}

.right li:hover{
    color: #199EB8;
}